@import 'tailwindcss';
@plugin '@tailwindcss/forms';
@plugin '@tailwindcss/typography';

@font-face {
    font-family: 'GT Eesti Pro Text';
    src: url('/gt-eesti-pro/GTEestiProText-ThinItalic.eot');
    src: local('GT Eesti Pro Text Thin Italic'), local('GTEestiProText-ThinItalic'),
        url('/gt-eesti-pro/GTEestiProText-ThinItalic.eot?#iefix') format('embedded-opentype'),
        url('/gt-eesti-pro/GTEestiProText-ThinItalic.woff2') format('woff2'),
        url('/gt-eesti-pro/GTEestiProText-ThinItalic.woff') format('woff'),
        url('/gt-eesti-pro/GTEestiProText-ThinItalic.ttf') format('truetype');
    font-weight: 100;
    font-style: italic;
}

@font-face {
    font-family: 'GT Eesti Pro Text';
    src: url('/gt-eesti-pro/GTEestiProText-Medium.eot');
    src: local('GT Eesti Pro Text Medium'), local('GTEestiProText-Medium'),
        url('/gt-eesti-pro/GTEestiProText-Medium.eot?#iefix') format('embedded-opentype'),
        url('/gt-eesti-pro/GTEestiProText-Medium.woff2') format('woff2'),
        url('/gt-eesti-pro/GTEestiProText-Medium.woff') format('woff'),
        url('/gt-eesti-pro/GTEestiProText-Medium.ttf') format('truetype');
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: 'GT Eesti Pro Text';
    src: url('/gt-eesti-pro/GTEestiProText-LightItalic.eot');
    src: local('GT Eesti Pro Text Light Italic'), local('GTEestiProText-LightItalic'),
        url('/gt-eesti-pro/GTEestiProText-LightItalic.eot?#iefix') format('embedded-opentype'),
        url('/gt-eesti-pro/GTEestiProText-LightItalic.woff2') format('woff2'),
        url('/gt-eesti-pro/GTEestiProText-LightItalic.woff') format('woff'),
        url('/gt-eesti-pro/GTEestiProText-LightItalic.ttf') format('truetype');
    font-weight: 300;
    font-style: italic;
}

@font-face {
    font-family: 'GT Eesti Pro Display';
    src: url('/gt-eesti-pro/GTEestiProDisplay-Bold.eot');
    src: local('GT Eesti Pro Display Bold'), local('GTEestiProDisplay-Bold'),
        url('/gt-eesti-pro/GTEestiProDisplay-Bold.eot?#iefix') format('embedded-opentype'),
        url('/gt-eesti-pro/GTEestiProDisplay-Bold.woff2') format('woff2'),
        url('/gt-eesti-pro/GTEestiProDisplay-Bold.woff') format('woff'),
        url('/gt-eesti-pro/GTEestiProDisplay-Bold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'GT Eesti Pro Text';
    src: url('/gt-eesti-pro/GTEestiProText-Light.eot');
    src: local('GT Eesti Pro Text Light'), local('GTEestiProText-Light'),
        url('/gt-eesti-pro/GTEestiProText-Light.eot?#iefix') format('embedded-opentype'),
        url('/gt-eesti-pro/GTEestiProText-Light.woff2') format('woff2'),
        url('/gt-eesti-pro/GTEestiProText-Light.woff') format('woff'),
        url('/gt-eesti-pro/GTEestiProText-Light.ttf') format('truetype');
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: 'GT Eesti Pro Display';
    src: url('/gt-eesti-pro/GTEestiProDisplay-MediumItalic.eot');
    src: local('GT Eesti Pro Display Medium Italic'), local('GTEestiProDisplay-MediumItalic'),
        url('/gt-eesti-pro/GTEestiProDisplay-MediumItalic.eot?#iefix') format('embedded-opentype'),
        url('/gt-eesti-pro/GTEestiProDisplay-MediumItalic.woff2') format('woff2'),
        url('/gt-eesti-pro/GTEestiProDisplay-MediumItalic.woff') format('woff'),
        url('/gt-eesti-pro/GTEestiProDisplay-MediumItalic.ttf') format('truetype');
    font-weight: 500;
    font-style: italic;
}

@font-face {
    font-family: 'GT Eesti Pro Text';
    src: url('/gt-eesti-pro/GTEestiProText-RegularItalic.eot');
    src: local('GT Eesti Pro Text Regular Italic'), local('GTEestiProText-RegularItalic'),
        url('/gt-eesti-pro/GTEestiProText-RegularItalic.eot?#iefix') format('embedded-opentype'),
        url('/gt-eesti-pro/GTEestiProText-RegularItalic.woff2') format('woff2'),
        url('/gt-eesti-pro/GTEestiProText-RegularItalic.woff') format('woff'),
        url('/gt-eesti-pro/GTEestiProText-RegularItalic.ttf') format('truetype');
    font-weight: normal;
    font-style: italic;
}

@font-face {
    font-family: 'GT Eesti Pro Text Book';
    src: url('/gt-eesti-pro/GTEestiProText-Book.eot');
    src: local('GT Eesti Pro Text Book'), local('GTEestiProText-Book'),
        url('/gt-eesti-pro/GTEestiProText-Book.eot?#iefix') format('embedded-opentype'),
        url('/gt-eesti-pro/GTEestiProText-Book.woff2') format('woff2'),
        url('/gt-eesti-pro/GTEestiProText-Book.woff') format('woff'),
        url('/gt-eesti-pro/GTEestiProText-Book.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'GT Eesti Pro Text';
    src: url('/gt-eesti-pro/GTEestiProText-BoldItalic.eot');
    src: local('GT Eesti Pro Text Bold Italic'), local('GTEestiProText-BoldItalic'),
        url('/gt-eesti-pro/GTEestiProText-BoldItalic.eot?#iefix') format('embedded-opentype'),
        url('/gt-eesti-pro/GTEestiProText-BoldItalic.woff2') format('woff2'),
        url('/gt-eesti-pro/GTEestiProText-BoldItalic.woff') format('woff'),
        url('/gt-eesti-pro/GTEestiProText-BoldItalic.ttf') format('truetype');
    font-weight: bold;
    font-style: italic;
}

@font-face {
    font-family: 'GT Eesti Pro Text';
    src: url('/gt-eesti-pro/GTEestiProText-UltraLightItalic.eot');
    src: local('GT Eesti Pro Text UltraLight Italic'), local('GTEestiProText-UltraLightItalic'),
        url('/gt-eesti-pro/GTEestiProText-UltraLightItalic.eot?#iefix') format('embedded-opentype'),
        url('/gt-eesti-pro/GTEestiProText-UltraLightItalic.woff2') format('woff2'),
        url('/gt-eesti-pro/GTEestiProText-UltraLightItalic.woff') format('woff'),
        url('/gt-eesti-pro/GTEestiProText-UltraLightItalic.ttf') format('truetype');
    font-weight: 200;
    font-style: italic;
}

@font-face {
    font-family: 'GT Eesti Pro Display';
    src: url('/gt-eesti-pro/GTEestiProDisplay-Thin.eot');
    src: local('GT Eesti Pro Display Thin'), local('GTEestiProDisplay-Thin'),
        url('/gt-eesti-pro/GTEestiProDisplay-Thin.eot?#iefix') format('embedded-opentype'),
        url('/gt-eesti-pro/GTEestiProDisplay-Thin.woff2') format('woff2'),
        url('/gt-eesti-pro/GTEestiProDisplay-Thin.woff') format('woff'),
        url('/gt-eesti-pro/GTEestiProDisplay-Thin.ttf') format('truetype');
    font-weight: 100;
    font-style: normal;
}

@font-face {
    font-family: 'GT Eesti Pro Text';
    src: url('/gt-eesti-pro/GTEestiProText-Regular.eot');
    src: local('GT Eesti Pro Text Regular'), local('GTEestiProText-Regular'),
        url('/gt-eesti-pro/GTEestiProText-Regular.eot?#iefix') format('embedded-opentype'),
        url('/gt-eesti-pro/GTEestiProText-Regular.woff2') format('woff2'),
        url('/gt-eesti-pro/GTEestiProText-Regular.woff') format('woff'),
        url('/gt-eesti-pro/GTEestiProText-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'GT Eesti Pro Display';
    src: url('/gt-eesti-pro/GTEestiProDisplay-Light.eot');
    src: local('GT Eesti Pro Display Light'), local('GTEestiProDisplay-Light'),
        url('/gt-eesti-pro/GTEestiProDisplay-Light.eot?#iefix') format('embedded-opentype'),
        url('/gt-eesti-pro/GTEestiProDisplay-Light.woff2') format('woff2'),
        url('/gt-eesti-pro/GTEestiProDisplay-Light.woff') format('woff'),
        url('/gt-eesti-pro/GTEestiProDisplay-Light.ttf') format('truetype');
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: 'GT Eesti Pro Display';
    src: url('/gt-eesti-pro/GTEestiProDisplay-UltraBold.eot');
    src: local('GT Eesti Pro Display UltraBold'), local('GTEestiProDisplay-UltraBold'),
        url('/gt-eesti-pro/GTEestiProDisplay-UltraBold.eot?#iefix') format('embedded-opentype'),
        url('/gt-eesti-pro/GTEestiProDisplay-UltraBold.woff2') format('woff2'),
        url('/gt-eesti-pro/GTEestiProDisplay-UltraBold.woff') format('woff'),
        url('/gt-eesti-pro/GTEestiProDisplay-UltraBold.ttf') format('truetype');
    font-weight: 800;
    font-style: normal;
}

@font-face {
    font-family: 'GT Eesti Pro Display';
    src: url('/gt-eesti-pro/GTEestiProDisplay-UltraBoldItalic.eot');
    src: local('GT Eesti Pro Display UltraBold Italic'), local('GTEestiProDisplay-UltraBoldItalic'),
        url('/gt-eesti-pro/GTEestiProDisplay-UltraBoldItalic.eot?#iefix') format('embedded-opentype'),
        url('/gt-eesti-pro/GTEestiProDisplay-UltraBoldItalic.woff2') format('woff2'),
        url('/gt-eesti-pro/GTEestiProDisplay-UltraBoldItalic.woff') format('woff'),
        url('/gt-eesti-pro/GTEestiProDisplay-UltraBoldItalic.ttf') format('truetype');
    font-weight: 800;
    font-style: italic;
}

@font-face {
    font-family: 'GT Eesti Pro Display';
    src: url('/gt-eesti-pro/GTEestiProDisplay-Medium.eot');
    src: local('GT Eesti Pro Display Medium'), local('GTEestiProDisplay-Medium'),
        url('/gt-eesti-pro/GTEestiProDisplay-Medium.eot?#iefix') format('embedded-opentype'),
        url('/gt-eesti-pro/GTEestiProDisplay-Medium.woff2') format('woff2'),
        url('/gt-eesti-pro/GTEestiProDisplay-Medium.woff') format('woff'),
        url('/gt-eesti-pro/GTEestiProDisplay-Medium.ttf') format('truetype');
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: 'GT Eesti Pro Display';
    src: url('/gt-eesti-pro/GTEestiProDisplay-UltraLight.eot');
    src: local('GT Eesti Pro Display UltraLight'), local('GTEestiProDisplay-UltraLight'),
        url('/gt-eesti-pro/GTEestiProDisplay-UltraLight.eot?#iefix') format('embedded-opentype'),
        url('/gt-eesti-pro/GTEestiProDisplay-UltraLight.woff2') format('woff2'),
        url('/gt-eesti-pro/GTEestiProDisplay-UltraLight.woff') format('woff'),
        url('/gt-eesti-pro/GTEestiProDisplay-UltraLight.ttf') format('truetype');
    font-weight: 200;
    font-style: normal;
}

@font-face {
    font-family: 'GT Eesti Pro Display';
    src: url('/gt-eesti-pro/GTEestiProDisplay-RegularItalic.eot');
    src: local('GT Eesti Pro Display Regular Italic'), local('GTEestiProDisplay-RegularItalic'),
        url('/gt-eesti-pro/GTEestiProDisplay-RegularItalic.eot?#iefix') format('embedded-opentype'),
        url('/gt-eesti-pro/GTEestiProDisplay-RegularItalic.woff2') format('woff2'),
        url('/gt-eesti-pro/GTEestiProDisplay-RegularItalic.woff') format('woff'),
        url('/gt-eesti-pro/GTEestiProDisplay-RegularItalic.ttf') format('truetype');
    font-weight: normal;
    font-style: italic;
}

@font-face {
    font-family: 'GT Eesti Pro Display';
    src: url('/gt-eesti-pro/GTEestiProDisplay-LightItalic.eot');
    src: local('GT Eesti Pro Display Light Italic'), local('GTEestiProDisplay-LightItalic'),
        url('/gt-eesti-pro/GTEestiProDisplay-LightItalic.eot?#iefix') format('embedded-opentype'),
        url('/gt-eesti-pro/GTEestiProDisplay-LightItalic.woff2') format('woff2'),
        url('/gt-eesti-pro/GTEestiProDisplay-LightItalic.woff') format('woff'),
        url('/gt-eesti-pro/GTEestiProDisplay-LightItalic.ttf') format('truetype');
    font-weight: 300;
    font-style: italic;
}

@font-face {
    font-family: 'GT Eesti Pro Text';
    src: url('/gt-eesti-pro/GTEestiProText-Bold.eot');
    src: local('GT Eesti Pro Text Bold'), local('GTEestiProText-Bold'),
        url('/gt-eesti-pro/GTEestiProText-Bold.eot?#iefix') format('embedded-opentype'),
        url('/gt-eesti-pro/GTEestiProText-Bold.woff2') format('woff2'),
        url('/gt-eesti-pro/GTEestiProText-Bold.woff') format('woff'),
        url('/gt-eesti-pro/GTEestiProText-Bold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'GT Eesti Pro Text';
    src: url('/gt-eesti-pro/GTEestiProText-Thin.eot');
    src: local('GT Eesti Pro Text Thin'), local('GTEestiProText-Thin'),
        url('/gt-eesti-pro/GTEestiProText-Thin.eot?#iefix') format('embedded-opentype'),
        url('/gt-eesti-pro/GTEestiProText-Thin.woff2') format('woff2'),
        url('/gt-eesti-pro/GTEestiProText-Thin.woff') format('woff'),
        url('/gt-eesti-pro/GTEestiProText-Thin.ttf') format('truetype');
    font-weight: 100;
    font-style: normal;
}

@font-face {
    font-family: 'GT Eesti Pro Display';
    src: url('/gt-eesti-pro/GTEestiProDisplay-UltraLightItalic.eot');
    src: local('GT Eesti Pro Display UltraLight Italic'), local('GTEestiProDisplay-UltraLightItalic'),
        url('/gt-eesti-pro/GTEestiProDisplay-UltraLightItalic.eot?#iefix') format('embedded-opentype'),
        url('/gt-eesti-pro/GTEestiProDisplay-UltraLightItalic.woff2') format('woff2'),
        url('/gt-eesti-pro/GTEestiProDisplay-UltraLightItalic.woff') format('woff'),
        url('/gt-eesti-pro/GTEestiProDisplay-UltraLightItalic.ttf') format('truetype');
    font-weight: 200;
    font-style: italic;
}

@font-face {
    font-family: 'GT Eesti Pro Display';
    src: url('/gt-eesti-pro/GTEestiProDisplay-BoldItalic.eot');
    src: local('GT Eesti Pro Display Bold Italic'), local('GTEestiProDisplay-BoldItalic'),
        url('/gt-eesti-pro/GTEestiProDisplay-BoldItalic.eot?#iefix') format('embedded-opentype'),
        url('/gt-eesti-pro/GTEestiProDisplay-BoldItalic.woff2') format('woff2'),
        url('/gt-eesti-pro/GTEestiProDisplay-BoldItalic.woff') format('woff'),
        url('/gt-eesti-pro/GTEestiProDisplay-BoldItalic.ttf') format('truetype');
    font-weight: bold;
    font-style: italic;
}

@font-face {
    font-family: 'GT Eesti Pro Text';
    src: url('/gt-eesti-pro/GTEestiProText-MediumItalic.eot');
    src: local('GT Eesti Pro Text Medium Italic'), local('GTEestiProText-MediumItalic'),
        url('/gt-eesti-pro/GTEestiProText-MediumItalic.eot?#iefix') format('embedded-opentype'),
        url('/gt-eesti-pro/GTEestiProText-MediumItalic.woff2') format('woff2'),
        url('/gt-eesti-pro/GTEestiProText-MediumItalic.woff') format('woff'),
        url('/gt-eesti-pro/GTEestiProText-MediumItalic.ttf') format('truetype');
    font-weight: 500;
    font-style: italic;
}

@font-face {
    font-family: 'GT Eesti Pro Text Book';
    src: url('/gt-eesti-pro/GTEestiProText-BookItalic.eot');
    src: local('GT Eesti Pro Text Book Italic'), local('GTEestiProText-BookItalic'),
        url('/gt-eesti-pro/GTEestiProText-BookItalic.eot?#iefix') format('embedded-opentype'),
        url('/gt-eesti-pro/GTEestiProText-BookItalic.woff2') format('woff2'),
        url('/gt-eesti-pro/GTEestiProText-BookItalic.woff') format('woff'),
        url('/gt-eesti-pro/GTEestiProText-BookItalic.ttf') format('truetype');
    font-weight: normal;
    font-style: italic;
}

@font-face {
    font-family: 'GT Eesti Pro Text';
    src: url('/gt-eesti-pro/GTEestiProText-UltraLight.eot');
    src: local('GT Eesti Pro Text UltraLight'), local('GTEestiProText-UltraLight'),
        url('/gt-eesti-pro/GTEestiProText-UltraLight.eot?#iefix') format('embedded-opentype'),
        url('/gt-eesti-pro/GTEestiProText-UltraLight.woff2') format('woff2'),
        url('/gt-eesti-pro/GTEestiProText-UltraLight.woff') format('woff'),
        url('/gt-eesti-pro/GTEestiProText-UltraLight.ttf') format('truetype');
    font-weight: 200;
    font-style: normal;
}

@font-face {
    font-family: 'GT Eesti Pro Display';
    src: url('/gt-eesti-pro/GTEestiProDisplay-Regular.eot');
    src: local('GT Eesti Pro Display Regular'), local('GTEestiProDisplay-Regular'),
        url('/gt-eesti-pro/GTEestiProDisplay-Regular.eot?#iefix') format('embedded-opentype'),
        url('/gt-eesti-pro/GTEestiProDisplay-Regular.woff2') format('woff2'),
        url('/gt-eesti-pro/GTEestiProDisplay-Regular.woff') format('woff'),
        url('/gt-eesti-pro/GTEestiProDisplay-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'GT Eesti Pro Display';
    src: url('/gt-eesti-pro/GTEestiProDisplay-ThinItalic.eot');
    src: local('GT Eesti Pro Display Thin Italic'), local('GTEestiProDisplay-ThinItalic'),
        url('/gt-eesti-pro/GTEestiProDisplay-ThinItalic.eot?#iefix') format('embedded-opentype'),
        url('/gt-eesti-pro/GTEestiProDisplay-ThinItalic.woff2') format('woff2'),
        url('/gt-eesti-pro/GTEestiProDisplay-ThinItalic.woff') format('woff'),
        url('/gt-eesti-pro/GTEestiProDisplay-ThinItalic.ttf') format('truetype');
    font-weight: 100;
    font-style: italic;
}

:root {
	--color-primary: #1a202c;
	--color-secondary: #2d3748;
	--color-accent: #4a5568;
	--font-base: 'GT Eesti Pro Text', sans-serif;

	--color-orange-100: #FFE4D3;
	--color-orange-500: #FF7723;
	--color-stone-900: #1E1305;
	--color-stone-300: #E9D8C4;

}

html{

	scroll-behavior: smooth;
}

body {
	background-color: var(--color-orange-100);
}

.container {
	max-width: 1440px;
	margin: auto;
}

* {
	user-select: none;
	/* box-sizing: border-box; */
}

